body {
    font-family: 'Inter', sans-serif;
    background-color: black;
}

.projects {
    color: white;
    padding: 20px;
    margin: 0 auto;
    max-width: 600px;
    margin-top: 50px;
}

.projects table {
    width: 100%;
    text-align: center;
}

.projects h2 {
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-top: 50px;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
}

.content h1 {
    text-align: center;
    color: white;
    font-size: 4rem;
    margin: 0;
}

.content p {
    color: white;
    margin: 0;
    margin-top: 10px;
    font-size: 2rem;
    text-align: center;
}

.navbar {
    text-align: center;
    margin: 0 auto;
    list-style-type: none;
    background-color: #333;
    color: white;
    margin-top: 20px;
    padding: 10px;
    font-size: 2rem;
    max-width: 450px;
    border-radius: 10px;
}

.li {
    display: inline;
    padding: 10px;
}

.navbar a {
    color: inherit;
    text-decoration: none;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }